div.hidden{
    display: none;
}

label{
    display: block;
    padding: 0px 0px 0px 16px;
            
    font-size: 14px;
    line-height: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
    label.required{
        color: #3d7454;
        font-weight: bold;
    }
input[type=text],
input[type=time],
input[type=number],
input[type=month],
input[type=password],
input[type=tel],
input[type=date]{
    width: 100%;
    height: 40px;
    padding: 0px 8px 0px 8px;
            
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 38px;
    color: #2c3e50;

    background-color: #ffffff;
    border: 1px solid #dddddd;

    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
                        
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    margin: 0px;
}
    input[type=text].ml-alert,
    input[type=time].ml-alert,
    input[type=number].ml-alert,
    input[type=month].ml-alert,
    input[type=password].ml-alert,
    input[type=tel].ml-alert,
    input[type=date].ml-alert {
        background-color: #fbc5c5;
        border-color: #b51d1d;
    }
textarea{
    width: 100%;
    height: 220px;
    padding: 16px;
            
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #2c3e50;

    background-color: #ffffff;
    border: 1px solid #dddddd;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
                        
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
    textarea.ml-alert{
        background-color: #fbc5c5;
        border-color: #b51d1d;
    }
select{
    width: 100%;
    height: 40px;
    padding: 0px 22px 0px 8px;
            
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 38px;
    color: #2c3e50;

    background-color: #ffffff;
    background-image: url(../res/images/icons/down-arrow.png);
    background-size: 19px 15px;
    background-position: right center;
    background-repeat: no-repeat;

    border: 1px solid #dddddd;
    
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
                        
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
select::-ms-expand {
    display: none;
}
    select.ml-alert{
        background-color: #fbc5c5;
        border-color: #b51d1d;
    }
input:read-only{
    background-color: #dce4ec;
}
input:-moz-read-only{
    background-color: #dce4ec;
}

div.file-upload{
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #dddddd;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    cursor: pointer;
}
    div.file-upload input[type=file]{
        z-index: 2;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
        height: 40px;
        opacity: 0;
        cursor: pointer;
    }
    div.file-upload span{
        position: absolute;
        top: 0px;
        right: 0px;
        float: right;
        width: 40px;
        height: 40px;

        background-color: #2f6546;
        background-image: url(../res/images/icons/upload-icon.png);
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: center center;

        -moz-border-radius: 0px 4px 4px 0px;
        -webkit-border-radius: 0px 4px 4px 0px;
        border-radius: 0px 4px 4px 0px;
    }
        div.file-upload:hover span{
            background-color:#3d7454;
        }
    div.file-upload p{
        position: absolute;
        top: 1px;
        left: 8px;
        right: 40px;
        height: 38px;


        font-family: Helvetica,Arial,sans-serif;
        font-size: 16px;
        line-height: 38px;
        color: #2c3e50;
    }

p.ml-val-message{
    padding: 8px;
    margin-bottom: 16px;
            
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    background-color:#b51d1d;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

@media(max-width: 360px) {
    input[type=text],
    input[type=time],
    input[type=number],
    input[type=month],
    input[type=password],
    input[type=date] {
        font-size: 14px;
        line-height: 28px;
        height: 30px;
    }
    textarea {
        font-size: 14px;
        line-height: 20px;
        height: 120px;
    }
    select {
        font-size: 14px;
        line-height: 28px;
        height: 30px;
    }

    div.file-upload{
    height: 30px;
}
    div.file-upload input[type=file]{
        z-index: 2;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
        height: 30px;
        opacity: 0;
    }
    div.file-upload span{
        width: 30px;
        height: 30px;
    }
    div.file-upload p{
        position: absolute;
        top: 1px;
        left: 8px;
        right: 30px;
        height: 28px;


        font-family: Helvetica,Arial,sans-serif;
        font-size: 14px;
        line-height: 28px;
        color: #2c3e50;
    }
}

div.entry-group{
    overflow: hidden;
}
div.entry-wrap{
    float: left;
    width: 33.33%;
    padding-bottom: 16px;
    overflow: hidden;
                        
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
    div.entry-wrap:nth-child(3n+1){
        clear: left;
        padding-right: 4px;
    }
    div.entry-wrap:nth-child(3n+2){
        padding-left: 2px;
        padding-right: 2px;
    }
    div.entry-wrap:nth-child(3n+3){
        padding-left: 4px;
    }
    div.entry-wrap p{
        display: block;
        padding: 4px;
        margin: 0px 6px 0px 6px;
        font-family: Helvetica,Arial,sans-serif;
        font-size: 12px;
        line-height: 16px;
        color: #ffffff;
        text-shadow: 0px 0px 1px rgba(0,0,0,.5);
        font-style: italic;
        background-color: #808080 ;

        -moz-border-radius: 0px 0px 4px 4px;
        -webkit-border-radius: 0px 0px 4px 4px;
        border-radius: 0px 0px 4px 4px;
    }
div.right-units-wrap{
    position: relative;
    overflow: hidden;
    padding-right: 50px;
}
    div.right-units-wrap input[type=text]{
        border-right: 0px;

        -moz-border-radius: 4px 0px 0px 4px;
        -webkit-border-radius: 4px 0px 0px 4px;
        border-radius: 4px 0px 0px 4px;
    }
    div.right-units-wrap select{
        border-right: 0px;

        -moz-border-radius: 4px 0px 0px 4px;
        -webkit-border-radius: 4px 0px 0px 4px;
        border-radius: 4px 0px 0px 4px;
    }
    div.right-units-wrap span{
        display: block;
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        min-width: 42px;
        padding: 0px 4px 0px 4px;

        font-family: Helvetica,Arial,sans-serif;
        font-size: 16px;
        line-height: 38px;
        color: #2c3e50;
        text-align: center;

        background-color: #ecf0f1;
        border: 1px solid #dce4ec;

        -moz-border-radius: 0px 4px 4px 0px;
        -webkit-border-radius: 0px 4px 4px 0px;
        border-radius: 0px 4px 4px 0px;
    }
        div.right-units-wrap span.small{
            font-size: 10px;
        }
div.entry-wrap-full{
    clear: both;
    padding-bottom: 16px;
    overflow: hidden;
                        
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
    div.entry-wrap-full p{
        display: block;
        padding: 4px;
        margin: 0px 6px 0px 6px;
        font-family: Helvetica,Arial,sans-serif;
        font-size: 12px;
        line-height: 16px;
        color: #ffffff;
        text-shadow: 0px 0px 1px rgba(0,0,0,.5);
        font-style: italic;
        background-color: #808080 ;

        -moz-border-radius: 0px 0px 4px 4px;
        -webkit-border-radius: 0px 0px 4px 4px;
        border-radius: 0px 0px 4px 4px;
    }
    form.ml-validation{
        padding-bottom: 16px;
    }
form.ml-validation input[type=submit]{
    float: right;
    padding: 6px 32px 6px 16px;
    border: 0px;

    font-family: Oswald, Arial, Verdana, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    color: #ffffff;

    background-color: #2f6546;
    background-image: url(../res/images/icons/right-arrow-go-8eb755.svg);
    background-size: 32px 32px;
    background-position: right center;
    background-repeat: no-repeat;

    cursor: pointer;
}
        form.ml-validation input[type=submit]:hover {
            background-color: #3d7454;
        }

@media(max-width:780px) {
    div.entry-wrap{
        width: 50%;
    }
        div.entry-wrap:nth-child(2n+1){
            clear: left;
            padding: 0px 4px 16px 0px;
        }
        div.entry-wrap:nth-child(2n+2){
            clear: none;
            padding: 0px 0px 16px 4px;
        }
}
@media(max-width:480px) {
    div.entry-wrap{
        width: 100%;
        padding: 0px 0px 16px 0px !important;
    }
}
@media(max-width: 360px) {
    div.right-units-wrap span {
        font-size: 14px;
        line-height: 28px;
    }
}

div.entry-wrap-full.checklist ul{
    padding: 0px 0px 0px 0px;
    margin-bottom: 16px;

    background-color: #ffffff;
    border: 1px solid #dddddd;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
    div.entry-wrap-full.checklist ul li {
        display: block;
        padding-bottom: 0px;
        border-bottom: solid 1px #dddddd;
    }
        div.entry-wrap-full.checklist ul li:last-child {
            border-bottom: 0px;
        }
        div.entry-wrap-full.checklist ul li label {
            display: block;
            padding: 4px 14px 4px 14px;
            margin: 0px;
            background-color: #ffffff;
            background-position: -20px center;
            background-size: 16px 16px;
            background-repeat: no-repeat;
            background-image: url(../res/images/icons/checkmark-icon.png);
                    
            font-family: Helvetica,Arial,sans-serif;
            font-size: 16px;
            line-height: 38px;
            color: #2c3e50;
            cursor: pointer;

            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: padding 300ms, background-color 300ms, background-position 100ms;
            -moz-transition: padding 300ms, background-color 300ms, background-position 100ms;
            -o-transition: padding 300ms, background-color 300ms, background-position 100ms;
            -ms-transition: padding 300ms, background-color 300ms, background-position 100ms;
            transition: padding 300ms, background-color 300ms, background-position 100ms;
        }
            div.entry-wrap-full.checklist ul li label.highlite {
                background-color: #8eb755;
                padding: 4px 4px 4px 24px;
                background-position: 4px center;
                color: #ffffff;
                -webkit-transition: padding 300ms, background-color 300ms, background-position 600ms;
                -moz-transition: padding 300ms, background-color 300ms, background-position 600ms;
                -o-transition: padding 300ms, background-color 300ms, background-position 600ms;
                -ms-transition: padding 300ms, background-color 300ms, background-position 600ms;
                transition: padding 300ms, background-color 300ms, background-position 600ms;
            }
            div.entry-wrap-full.checklist ul li label input[type=checkbox] {
                display: none;
            }


div.authorization{
    padding: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color:#555555;
    overflow: hidden;
}
    div.authorization.highlite {
        background-color: #2f6546;
    }
    div.authorization h2{
        padding: 0px;
        text-align: left;
        color:#ffffff;
        font-weight: 400;
    }
    div.authorization label{
        position: relative;
        padding: 0px 0px 0px 28px;

        background-position: 4px center;
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-image: url(../res/images/icons/checkbox-icon.png);

        color:#ffffff;
        overflow: auto;
        text-overflow: inherit;
        white-space: normal;
        font-size: 16px;
        line-height: 22px;
        cursor: pointer;

        -webkit-transition: padding 300ms, background-color 300ms, background-position 100ms;
        -moz-transition: padding 300ms, background-color 300ms, background-position 100ms;
        -o-transition: padding 300ms, background-color 300ms, background-position 100ms;
        -ms-transition: padding 300ms, background-color 300ms, background-position 100ms;
        transition: padding 300ms, background-color 300ms, background-position 100ms;
    }
        div.authorization.highlite label{
            
            background-image: url(../res/images/icons/checkmark-icon.png);
            background-position: 4px center;
            
            -webkit-transition: padding 300ms, background-color 300ms, background-position 600ms;
            -moz-transition: padding 300ms, background-color 300ms, background-position 600ms;
            -o-transition: padding 300ms, background-color 300ms, background-position 600ms;
            -ms-transition: padding 300ms, background-color 300ms, background-position 600ms;
            transition: padding 300ms, background-color 300ms, background-position 600ms;
        }
        div.authorization label input{
            display: none;
        }
    div.authorization input[type=submit]{
        margin-top: 16px;
        color: #2f6546;
        background-color: #ffffff;
    }
        div.authorization input[type=submit]:hover {
            background-color: #dedede;
        }
        div.authorization label span.confirmed{
            display: none;
        }
        div.authorization.highlite label span.unconfirmed{
            display: none;
        }
        div.authorization.highlite label span.confirmed{
            display: block;
        }


div.image-wrap{
    overflow: hidden;
}
#ImagePreview{
	float: left;
    width: 25%;
    position: relative;
    min-height: 50px;
	padding: 0px 10px 10px 0px;
    text-align: center;
    overflow: hidden;
	opacity:0;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
    #ImagePreview img{
	    max-width: 100%;
	    border-radius: 8px;
        vertical-align: bottom;
    }
    #ImagePreview p{
        z-index: 2;
        position: absolute;
        left: 12px;
        bottom: 12px;
        right: 12px;
        padding: 4px;
	    border-radius: 5px;
        font-size: 14px;
        background-color: rgba(255,255,255,.8);
    }
	
#ImageStatus{
	float: right;
    width: 75%;
    padding: 0px 0px 10px 10px;
    overflow: hidden;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
    #ImageStatus div.imageProgress{

    }
        #ImageStatus div.imageProgress div.progressBar{
			position: relative;
			width: 100%;
			height: 50px;
			background: #1c412b;
			border-radius: 8px;
			overflow: hidden;
			box-shadow: inset 0px 0px 5px #000;
        }
            #ImageStatus div.imageProgress div.progressBar p.label{
				position: absolute;
				top: 0px;
				left: 0px;
				padding: 10px;
				line-height: 30px;
				font-size: 16px;
				color:#ffffff;
				text-shadow: 0px 0px 2px rgba(0,0,0,.6);
            }
            #ImageStatus div.imageProgress div.progressBar span.bar{
                float: left;
				height: 50px;
				width: 0%;
				background-color: #316446;
				box-shadow: 0px 0px 5px #000;
				background-image: url(../res/images/icons/loading-bar.png);
				background-position: 0px 0px;
				background-repeat: repeat;
				-webkit-animation: loader-bg 2s infinite linear;	
				border-radius: 6px;			
            }
            #ImageStatus div.imageProgress div.progressBar p.percentage{
				position: absolute;
				top: 0px;
				right: 0px;
				padding: 10px;
				line-height: 30px;
				font-size: 16px;
				color:#ffffff;
				text-shadow: 0px 0px 2px rgba(0,0,0,.6);
            }
            #ImageStatus div.imageProgress div.progressBar p.percentage span{				
				font-size: 12px;
            }
    #ImageLoaded{
        clear: both;
        overflow:hidden;
    }
        #ImageLoaded div{
            position: relative;
            opacity: 0;
            height: 0px;
            padding-bottom: 10px;
            overflow: hidden;
        }
        #ImageLoaded div:nth-child(2n+2){
            width: 50%;
            float: left;
            clear: both;
            padding-right: 5px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        #ImageLoaded div:nth-child(2n+3){
            width: 50%;
            float: right;
            padding-left: 5px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        #ImageLoaded div:first-child{
            width: 100%;
        }

            #ImageLoaded div img{
                width: 100%;
	            border-radius: 8px;
                vertical-align: bottom;
            }
                #ImageLoaded div p{
                    z-index: 2;
                    position: absolute;
                    left: 12px;
                    bottom: 22px;
                    right: 12px;
                    padding: 4px;
	                border-radius: 5px;
                    text-align: center;
                    font-size: 14px;
                    background-color: rgba(255,255,255,.8);
                }
                #ImageLoaded div a{
                    z-index: 3;
                    position: absolute;
                    top: 12px;
                    right: 12px;
	                width: 24px;
	                height: 24px;
                    border: 0px;
                    background-color: #878787;
                    background-position: center center;
                    background-size: 16px 16px;
                    background-repeat: no-repeat;
                    background-image: url(../res/images/icons/view-icon.png);

	                -moz-border-radius: 12px;
	                -webkit-border-radius: 12px;
	                border-radius: 12px;

                }
                #ImageLoaded div span{
                    z-index: 3;
                    position: absolute;
                    top: 12px;
                    right: 40px;
	                width: 24px;
	                height: 24px;
                    cursor: pointer;
                    background-color: #878787;
                    background-position: center center;
                    background-size: 16px 16px;
                    background-repeat: no-repeat;
                    background-image: url(../res/images/icons/trash-icon.png);

	                -moz-border-radius: 12px;
	                -webkit-border-radius: 12px;
	                border-radius: 12px;

                }
@media(max-width:640px) {
    #ImagePreview {
        width: 50%;
    }
    #ImageStatus {
        width: 50%;
    }
}
@media(max-width:360px) {
    #ImagePreview {
        float: none;
        width: 100%;
        padding: 0px 0px 10px 0px;
    }
    #ImageStatus {
        float: none;
        width: 100%;
        padding: 0px 0px 10px 0px;
    }
}



div.paypal{
    text-align: center;
    overflow: hidden;
}
    div.paypal select{
        width: 100%;
        height: 40px;
        padding: 0px 22px 0px 8px;
        margin-bottom: 8px;
            
        font-family: Helvetica,Arial,sans-serif;
        font-size: 16px;
        line-height: 38px;
        color: #2c3e50;

        background-color: #ffffff;
        background-image: url(../res/images/icons/down-arrow.png);
        background-size: 19px 15px;
        background-position: right center;
        background-repeat: no-repeat;

        border: 1px solid #dddddd;
    
        -webkit-appearance: none;

        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
                        
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    div.paypal label{
        display: block;
        padding: 0px 0px 0px 16px;
            
        font-size: 12px;
        line-height: 14px;
        text-overflow: ellipsis;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
    }


main{
    
}
    main div.overlay{    
        z-index: 2;
        position: absolute;
        top: 0px;
        bottom: 0px;
        width: 100%;
        opacity: 0;
        background: rgba(239, 239, 239, 0.75);
    }