*{
    margin: 0px; padding: 0px;
}

body{
    opacity: 0;
    color: #555;
    background: #efefef;
    font-family: Arial,Helvetica,sans-serif;
}

header{
    z-index: 1000;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    max-width: 100%;
    height: 50px;
    background:#ffffff;
}
    header nav{
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        bottom: 0px;
        width: 100%;
        margin-left: 0%;
        overflow:hidden;
    }
        header nav div{
            z-index: 2;
            position: absolute;
            top: 0px;
            left: 0px;
            bottom: 0px;    
            max-width: 80%;
            margin-left: -100%;
            overflow: auto;
            padding: 20px 0px 0px 0px;

            background: #dddddd;

            -moz-box-shadow:0px 0px 40px rgba(0,0,0,.8);
            -webkit-box-shadow:0px 0px 40px rgba(0,0,0,.8);
            box-shadow:0px 0px 40px rgba(0,0,0,.8);
        }
            header nav div ul{
                list-style: none;
                margin: 20px 0px 0px 0px;
                border-top: 1px solid #cccccc;
                border-bottom: 1px solid #cccccc;
            }
                header nav div ul li{
                    display: block;
                }
                    header nav div ul li a{
                        display: block;
                        padding:6px 32px 6px 16px;

                        font-family: Oswald, Arial, Verdana, sans-serif;
                        font-weight: 400;
                        text-transform: uppercase;
                        font-size: 26px;
                        line-height: 38px;
                        text-decoration: none;
                        color: #3d7454;

                        border-bottom: 1px solid #dddddd;
                        background-color: #efefef;
                        background-image: url(../../res/images/icons/right-arrow-go-8eb755.svg);
                        background-size: 32px 32px;
                        background-position: right center;
                        background-repeat: no-repeat;
                    }
                        header nav div ul li:last-child a{
                            border-bottom: 0px;
                        }
                        header nav div ul li a:hover{            
                            background-color: #ffffff;
                        }
                        header nav div a.data-entry{
                            display: block;
                            padding:6px 32px 6px 16px;
                            margin: 0px 0px 20px 0px;
                            border: 0px;

                            font-family: Oswald, Arial, Verdana, sans-serif;
                            font-weight: 400;
                            text-transform: uppercase;
                            font-size: 26px;
                            line-height: 38px;
                            text-decoration: none;
                            color:#ffffff;

                            background-color: #2f6546;
                            background-image: url(../../res/images/icons/right-arrow-go-8eb755.svg);
                            background-size: 32px 32px;
                            background-position: right center;
                            background-repeat: no-repeat;
                        }
                        header nav div a.data-entry:hover{
                            background-color: #3d7454;
                            background-image: url(../../res/images/icons/right-arrow-go-ffffff.svg);
                        }
        header nav span{
            display: none;
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            cursor: pointer;
            background: rgba(0,0,0,.4);
            opacity: 0;
        }
        header p.hamburger {
                display: block;
                position: relative;
                float: right;
                overflow: hidden;
                margin: 5px;
                padding: 0;
                width: 40px;
                height: 40px;
                font-size: 0;
                text-indent: -9999px;
                appearance: none;
                box-shadow: none;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                border-radius: 3px;
                border: none;
                cursor: pointer;
                background-color: #eb923c;
                            
                -moz-transition: background 0.3s;
                -webkit-transition: background 0.3s;
                transition: background 0.3s;
            }
                header p.hamburger:focus {
                    outline: none;
                }
                header p.hamburger span {
                    display: block;
                    position: absolute;
                    top: 17px;
                    left: 6px;
                    right: 6px;
                    height: 6px;
                    background: white;

                    -moz-transition: background 0s 0.3s;
					-webkit-transition: background 0s 0.3s;
                    transition: background 0s 0.3s;
                }
                    header p.hamburger span::before,
                    header p.hamburger span::after {
                        position: absolute;
                        display: block;
                        left: 0;
                        width: 100%;
                        height: 6px;
                        background-color: #fff;
                        content: "";
                                  
                        -moz-transition-duration: 0.3s, 0.3s;
                        -webkit-transition-duration: 0.3s, 0.3s;
                        transition-duration: 0.3s, 0.3s;
                        -moz-transition-delay: 0.3s, 0s; 
                        -webkit-transition-delay: 0.3s, 0s; 
                        transition-delay: 0.3s, 0s;
                    }
                    header p.hamburger span::before {
                        top: -10px; 
                                                                     
                        -moz-transition-property: top, transform;         
                        -webkit-transition-property: top, transform;         
                        transition-property: top, transform;
                    }
                    header p.hamburger span::after {
                        bottom: -10px;                         
                                                                     
                        -moz-transition-property: bottom, transform;         
                        -webkit-transition-property: bottom, transform;         
                        transition-property: bottom, transform;
                    }
            /* expanded state, i.e. menu open */
            header p.hamburger.expanded {
                background-color: #cb0032;
            }
                header p.hamburger.expanded span {
                    background: none;
                }
                    header p.hamburger.expanded span::before {
                        top: 0;

                        -ms-transform: rotate(45deg);
                        -moz-transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                    header p.hamburger.expanded span::after {
                        bottom: 0;

                        -ms-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                    }
                    header p.hamburger.expanded span::before,
                    header p.hamburger.expanded span::after {
                        -moz-transition-delay: 0s, 0.3s;
                        -webkit-transition-delay: 0s, 0.3s; 
                        transition-delay: 0s, 0.3s;
                    }
    header a.icon,
    header span.icon{
        float: left;
        width: 40px;
        height: 40px;
        margin: 5px;
        background-image: url(../../res/images/icons/cad-white-on-green.png);
        background-size: contain;
        background-repeat: no-repeat;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }
    header h1{
        font-family: Oswald, Arial, Verdana, sans-serif;
        font-size: 28px;
        font-weight: 400;
        color: #3d7454;
        text-align: center;
        line-height: 50px;
        text-align: center;
    }

    @media(max-width: 360px) {
        header h1 {
            font-size: 20px;
        }
    }
    @media(max-width: 300px) {
        header h1 {
            font-size: 16px;
        }
    }

main{          
    margin-top: 50px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}
    main h1{
        padding-bottom: 16px;
        font-family: Oswald, Arial, Verdana, sans-serif;
        font-size: 28px;
        font-weight: 400;
        color: #3d7454;
        text-align: center;
    }
    main h1.heading{
        padding: 16px;
        overflow: hidden;

        font-size: 24px;
        line-height: 40px;
        font-weight: 400;
        color:#ffffff; 
        background-color:#3d7454;
    }
    main h2{
        padding-bottom: 16px;
        font-family: Oswald, Arial, Verdana, sans-serif;
        color: #3d7454;
        font-size: 24px;
        line-height: 30px;
        font-weight: 400;
    }
    main h3{
        padding-bottom: 16px;
        font-family: Oswald, Arial, Verdana, sans-serif;
        color: #3d7454;
        font-size: 20px;
        font-weight: 400;
    }
    main h4{
        padding-bottom: 16px;
        font-family: Oswald, Arial, Verdana, sans-serif;
        color: #3d7454;
        font-size: 18px;
        font-weight: 400;
    }
    main h5{
        padding-bottom: 6px;
        font-family: Oswald, Arial, Verdana, sans-serif;
        color: #3d7454;
        font-size: 16px;
        font-weight: 400;
    }

    main ul, main ol{
        padding-left: 20px;
        padding-bottom: 16px;
    }
    main ul li, main ol li{
        padding-bottom: 12px;
        font-size: 16px;
        line-height: 22px;
    }
    main p{
        font-size: 16px;
        line-height: 22px;
        padding-bottom: 26px;
    }
    main a{
        color: #555555;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        border-bottom: 1px dashed #8eb755;
    }
    main section {
        width: 100%;
        padding: 20px;
        overflow: auto;

        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    p.breadcrumbs{
        padding: 6px 16px;
        border-top: 1px solid #275c3d;
        overflow: hidden;

        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color:#ffffff; 
        background-color:#316446;
    }
        p.breadcrumbs a{
            color: #8eb755;
            text-decoration: none;
            border: 0px;
        }

    main div.section{
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 1px solid #dddddd;
    }

    @media(max-width: 500px) {
        main h1.heading {
            font-size: 14px;
            line-height: 18px;
            background-size: 4px 16px;
        }
    }

        main p.image-holder{
            padding: 4px 4px 16px 4px;
            text-align: center;
        }
            main p.image-holder a{
                border: 0px;
            }
            main p.image-holder img{
                width: 100%;                
                border:5px solid #ffffff;

                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;

                -moz-box-shadow: 0px 0px 6px rgba(0,0,0,.5);
                -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,.5);
                box-shadow: 0px 0px 6px rgba(0,0,0,.5);
            }
        main div.contain{
            overflow: hidden;
        }
        main div.split-right{
            float: right;
            width: 50%;
            padding: 0px 0px 0px 8px;

            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        main div.split-left{
            float: left;
            width: 50%;
            padding: 0px 8px 0px 0px;

            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

    main div.youtube-wrapper{
        position: relative;
        height: 0px;
        padding-bottom: 56.25%;
        margin-bottom: 16px;
        overflow: hidden;
    }
        main div.youtube-wrapper iframe{
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            width: 100%;
            height: 100%;
        }
    main div.youtube-image{
        padding: 6px;
        text-align: center;
        overflow: hidden;
    }
        main div.youtube-image a{
            border: 0px;
        }
        main div.youtube-image img{
            max-width: 100%;                
            border:5px solid #ffffff;
        
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;

            -moz-box-shadow: 0px 0px 6px rgba(0,0,0,.5);
            -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,.5);
            box-shadow: 0px 0px 6px rgba(0,0,0,.5);
        }

    main div.detail-viewer {
        margin-bottom: 16px;
    }
        main div.detail-viewer ul{
            list-style: none;
            padding: 0px;
            border: 1px solid #cccccc;
        }
            main div.detail-viewer ul li{
                display: block;     
                padding-bottom: 0px;           
                border-bottom: 1px solid #dddddd;
            }
                main div.detail-viewer ul li:last-child{
                    border-bottom: 0px;
                }
                main div.detail-viewer ul li span.detail-label{
                    display: block;
                    padding:6px 32px 6px 16px;  

                    font-family: Oswald, Arial, Verdana, sans-serif;
                    font-weight: 400;
                    text-transform: uppercase;
                    font-size: 18px;
                    line-height: 28px;
                    text-decoration: none;
                    color: #3d7454;

                    background-color: #efefef;
                    background-image: url(../../res/images/icons/right-arrow-go-8eb755.svg);
                    background-size: 32px 32px;
                    background-position: right center;
                    background-repeat: no-repeat;

                    cursor: pointer;
                }
                main div.detail-viewer ul li span.detail-label-no-link{
                    display: block;
                    padding:6px 32px 6px 16px;  

                    font-family: Oswald, Arial, Verdana, sans-serif;
                    font-weight: 400;
                    text-transform: uppercase;
                    font-size: 18px;
                    line-height: 28px;
                    text-decoration: none;
                    color: #555555;
                    background-color: #efefef;
                }
                    main div.detail-viewer ul li span.detail-label:hover{            
                        background-color: #ffffff;
                    }
            main div.detail-viewer ul li div.detail-view{
                display: none;
                z-index: 1500;
                position: fixed;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                padding: 20px;
                background:#fefefe;
                overflow:auto;
            }
                main div.detail-viewer ul li div.detail-view h2{
                    padding-right: 40px;
                }
                main div.detail-viewer ul li div.detail-view p.detail-close{
                    position: fixed;
                    top: 0px;
                    right: 0px;
                    width: 40px;
                    height: 40px;
                    margin: 5px;
                    padding: 0px;
                    font-size: 0;
                    line-height: 0;
                    text-indent: -9999px;
                    background:#cb0032;
                    appearance: none;
                    box-shadow: none;
                    -moz-border-radius: 3px;
                    -webkit-border-radius: 3px;
                    border-radius: 3px;
                    cursor: pointer;
                }
                    main div.detail-viewer ul li div.detail-view p.detail-close span {
                        display: block;
                        position: absolute;
                        top: 17px;
                        left: 6px;
                        right: 6px;
                        height: 6px;
                        background: white;
                    }
                    main div.detail-viewer ul li div.detail-view p.detail-close span.top {
                        bottom: 0;

                        position: absolute;
                        display: block;
                        height: 6px;
                        background-color: #fff;
                        content: "";

                        -ms-transform: rotate(45deg);
                        -moz-transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                    main div.detail-viewer ul li div.detail-view p.detail-close span.bottom {
                        bottom: 0;

                        position: absolute;
                        display: block;
                        height: 6px;
                        background-color: #fff;
                        content: "";

                        -ms-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                    }

    @media(max-width: 360px) {
        main div.detail-viewer ul li span.detail-label,        
        main div.detail-viewer ul li span.detail-label-no-link {
            font-size: 16px;
            line-height: 24px;
            background-size: 16px 16px;
        }
    }


    main ul.name-link-list{
        list-style: none;
        padding: 0px;
        margin-bottom: 16px;
        border: 1px solid #cccccc;
    }
        main ul.name-link-list li{
            position: relative;
            display: block;                

            padding:6px 86px 6px 16px;  
            border-bottom: 1px solid #dddddd;

            font-family: Oswald, Arial, Verdana, sans-serif;
            font-weight: 400;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 28px;
            text-decoration: none;
            color: #555555;

            overflow: hidden;
        }
            main ul.name-link-list li.alert {
                background-color: #f6b4b4;
            }
                main ul.name-link-list li.alert i {
                    display: block;
                    color: #a40404;
                    font-size: 14px;
                    line-height: 16px;
                    text-transform: none;
                }
            main ul.name-link-list li:last-child{
                border-bottom: 0px;
            }
            main ul.name-link-list li a{
                position: absolute;
                top: 0px;
                bottom: 0px;
                right: 0px;
                width: 48px;

                padding:6px 16px 6px 16px;  
                border-left: 1px solid #dddddd;
                border-bottom: 0px;

                text-decoration: none;
                color: #3d7454;

                background-color: #efefef;
                background-image: url(../../res/images/icons/right-arrow-go-8eb755.svg);
                background-size: 32px 32px;
                background-position: right center;
                background-repeat: no-repeat;
            }
                main ul.name-link-list li.alert a{
                    background-color: #f6b4b4;
                    border-left: 1px solid #de8f8f;
                }
                main ul.name-link-list li a:hover{            
                    background-color: #ffffff;
                }
                main ul.name-link-list li a span{
                    position: absolute;
                    top: 50%;
                    left: 16px;
                    width: 48px;
                    margin-top: -14px;
                    font-size: 14px;
                    line-height: 28px;
                }

    @media(max-width: 360px){
        main ul.name-link-list li {
            padding:6px 70px 6px 16px; 
            font-size: 16px;
            line-height: 24px;
        }
            main ul.name-link-list li a {
                width: 32px;
                background-size: 16px 16px;
            }
        main ul.name-link-list li a span{
            margin-top: -12px;
            font-size: 12px;
            line-height: 24px;
        }
    }

    main div.generic-link-list {
        margin-bottom: 16px;
    }
        main div.generic-link-list ul{
            list-style: none;
            padding: 0px;
            border: 1px solid #cccccc;
        }
            main div.generic-link-list ul li{
                display: block;               
                padding-bottom: 0px; 
                border-bottom: 1px solid #dddddd;
            }
                main div.generic-link-list ul li:last-child{
                    border-bottom: 0px;
                }
                main div.generic-link-list ul li a{
                    display: block;
                    padding:6px 32px 6px 16px;  
                    border-bottom: 0px;

                    font-family: Oswald, Arial, Verdana, sans-serif;
                    font-weight: 400;
                    text-transform: uppercase;
                    font-size: 18px;
                    line-height: 28px;
                    text-decoration: none;
                    color: #3d7454;

                    background-color: #efefef;
                    background-image: url(../../res/images/icons/right-arrow-go-8eb755.svg);
                    background-size: 32px 32px;
                    background-position: right center;
                    background-repeat: no-repeat;

                    cursor: pointer;
                }
                    main div.generic-link-list ul li a:hover{            
                        background-color: #ffffff;
                    }

    @media(max-width: 360px) {
        main div.generic-link-list ul li a{
            font-size: 14px;
            line-height: 24px;
            background-size: 16px 16px;
        }
    }

    main div.list-followed{
        margin-bottom: 0px;
    }
    main div.list-continued ul{
        border-top: 0px;
    }
