div.order-item{
    padding: 16px 0px 16px 0px;
    border-top: 1px solid #dddddd;
    overflow: hidden;
}
    div.order-item h3{
        position: relative;
        padding-right: 60px;
    }
        div.order-item h3 > span{
            position: absolute;
            top: 0px;
            right: 0px;
            padding: 4px;
            background-color: #3d7454;

            font-family: Oswald, Arial, Verdana, sans-serif;
            color: #ffffff;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;

            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
        }
            div.order-item h3 span span{
                float: right;
                margin: 4px 0px 0px 2px;
                font-family: Oswald, Arial, Verdana, sans-serif;
                color: #ffffff;
                font-size: 14px;
                line-height: 16px;
                font-weight: 400;
                border-bottom: solid 2px #ffffff;
            }
    div.order-item div.order-item-descr{
        float: left; 
        width: 60%;
        padding-right: 5px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
        div.order-item div.order-item-descr img{
            width: 100%;
        }
    div.order-item div.order-item-details{
        float: right; 
        width: 40%;
        padding-left: 5px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
@media(max-width: 400px) {
    div.order-item h3 {
        min-height: 30px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
    div.order-item div.order-item-descr{
        float: none; 
        width: 100%;
        padding-right: 0px;
    }
    div.order-item div.order-item-details{
        float: none; 
        width: 100%;
        padding-left: 0px;
    }
}

div.group-joiner{
    padding: 16px 0px 16px 0px;
    border-top: 1px solid #dddddd;
}
h3.label{
    padding-bottom: 0px;
}
